<a href="https://colab.research.google.com/github/sra9623/LetsUpgrade-Python-Essential/blob/master/DAY5_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''DAY 5'''
 
'''Assignment 1: [0,1,2,10,4,1,0,56,2,0,1,3,0,56,0,4]'''
'''Sort increasing order but all the zeroes must be at right '''

In [ ]:
list=[0,1,2,10,4,1,0,56,2,0Jh,1,3,0,56,0,4]
list

[0, 1, 2, 10, 4, 1, 0, 56, 2, 0, 1, 3, 0, 56, 0, 4]

In [ ]:
list.sort()
print(list)

[0, 0, 0, 0, 0, 1, 1, 1, 2, 2, 3, 4, 4, 10, 56, 56]

In [ ]:
list=[0,1,2,10,4,1,0,56,2,0,1,3,0,56,0,4]
p=list.count(0)
 
while (p!=0):
    list.remove(0)
    p=p-1
 
list.sort()
 
p=5
while (p>=0):
    list.insert(len(list),0)
    p=p-1
print(list)

[1, 1, 1, 2, 2, 3, 4, 4, 10, 56, 56, 0, 0, 0, 0, 0, 0]

In [ ]:
'''ASSIGNMENT 2'''
'''list1=[10,20,40,60,70,80]  sorted list'''
'''list2=[5,15,25,35,45,60] sorted list '''
'''merge these two sorted list produce omne sorted list ,but use only one loop while or only one time '''

'merge these two sorted list produce omne sorted list ,but use only one loop while or only one time '

In [ ]:
list1=[10,20,90,60,70,80] 
list1.sort()
list1

[10, 20, 60, 70, 80, 90]

In [ ]:
list2=[5,15,95,65,35,45,60] 
list2.sort()
list2

[5, 15, 35, 45, 60, 65, 95]

In [ ]:
for x in list2:
    list1.append(x)
list1.sort()
print(list1)

[5, 10, 15, 20, 35, 45, 60, 60, 65, 70, 80, 90, 95]